.custom-range {
  -webkit-appearance: none !important;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #e5e7eb;
  border-radius: 9999px;
  outline: none;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  height: 6px;
  background: white;
  border-radius: 9999px;
}

/* Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #3a0b1c;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}
